.heading {
    display: flex;
    justify-content: center;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color: #7D29EA;
    text-shadow:
            2px 2px 0 #000,
            /* Черная тень для создания эффекта обводки */
            -2px -2px 0 #000,
            /* Обводка слева-вверх */
            2px -2px 0 #000,
            /* Обводка справа-вверх */
            -2px 2px 0 #000,
            /* Обводка слева-вниз */
            0 2px 0 #000,
            /* Добавление вертикальных теней */
            0 -2px 0 #000,
            /* Обводка сверху и снизу */
            2px 0 0 #000,
            /* Добавление горизонтальных теней */
            -2px 0 0 #000;
        /* Обводка по бокам */
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    /* Центрирует кнопки по горизонтали */
    gap: 120px;
    /* Задает отступ между кнопками */
}

.game-button {
    background: none;
    /* Убирает фон кнопки */
    border: none;
    /* Убирает границы кнопки */
    padding: 0;
    /* Убирает внутренние отступы кнопки */
    cursor: pointer;
    /* Меняет курсор на указатель при наведении */
}

.game-button img {
    display: block;
    /* Убирает пробелы под изображением */
    width: 200px;
    /* Ширина изображения, можно настроить под ваши нужды */
    height: auto;
    /* Автоматическая высота для сохранения пропорций */
}


/* Определение анимации */
@keyframes bounce {
    0% {
        transform: translateY(0);
        /* Начальная позиция */
    }

    50% {
        transform: translateY(-10px);
        /* Подпрыгивание */
    }

    100% {
        transform: translateY(0);
        /* Возвращение в исходное положение */
    }
}

/* Применение анимации при наведении */
.game-button:hover img {
    animation: bounce 0.3s ease;
    /* Применение анимации к изображению */
}